@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto',
        sans-serif;
    background-color: #fafafa;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #dbdbdb;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;

    width: 935px;
    margin: 0 auto;

}

.topo .logo-mobile {
    display: none;
}

.topo input {
    background-color: #fafafa;
    height: 28px;
    width: 215px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    
}
.topo input::placeholder{
    text-align: center;
}


.topo-esquerda {
    display: flex;
    font-size: 25px;
    color: #000000;
}

.separador {
    background-color: #dbdbdb;
    width: 1px;
    height: 22px;
    margin: 0 10px;
}

.topo-direita {
    font-size: 25px;
    color: #000000;
}

.topo-direita ion-icon {
    margin-left: 15px;
}

.borda-horizontal {
    height: 1px;

    margin-bottom: 34px;
    margin-top: 54px;
}



.conteudo {
    background-color: #fafafa;
    width: 935px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.feed {
    width: 614px;

}

.stories {
    background-color: #ffffff;
    height: 118px;
    display: flex;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding-left: 18px;
    overflow: hidden;
    gap: 14px;
    position: relative;
    margin-bottom: 24px;

}

.story {
    height: 86px;
    width: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.story .perfil {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(arquivos/stories_background.jpg);
    background-size: cover;
}

.story span {
    font-size: 12px;
}

.perfil img {
    width: 56px;
    height: 56px;
}



.botao {
    color: #ffffff;
    font-size: 32px;
    position: absolute;
    top: 40px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;

}

.user {
    display: flex;
    align-items: center;

}

.user img {
    width: 32px;
    height: 32px;
    margin: 15px 13px 13px 17px;
}

.user p {
    font-size: 14px;
    color: #262626;
    font-weight: 500;
    line-height: 16px;

}

.post-top ion-icon {
    padding-right: 20px;
}

.post img {
    width: 100%;
}

.icones {
    display: flex;
    justify-content: space-between;

}

.icones-esquerda {
    padding: 13px 17px;
    gap: 13px;
}

.icones-direita {
    padding: 13px 17px;
}

.curtidas {
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-bottom: 20px;
    gap: 5px;
}

.curtidas img {
    width: 20px;
    height: 20px;
}

.curtidas p {
    font-size: 14px;
    color: #000000;
}

.curtidas strong {
    font-weight: 700;
}

.post {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 60px;
}

.sidebar {
    width: 293px;
    height: 400px;
    position: sticky;
    top: 115px;
    }

.topo-sidebar{
    display: flex;
    align-items: center;
    gap: 17px;
    
}
.topo-sidebar img{
    height: 56px;
    width: 56px;
    border-radius: 28px;
}
.sidebar .nome1{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.sidebar .nome1:hover{
    cursor: pointer;
    text-decoration: underline;
}
.sidebar .nome2{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8e8e8e;
}
.negrito{
    color: #262626;
}

.negrito,
.direitos-sidebar h5:hover {
    cursor: pointer;
}
.cinza {
    color: #8e8e8e;
}
.sugestoes-sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 17px;
}
.sugestoes-sidebar p{
font-weight: 500;
font-size: 12px;
line-height: 14px;
}
.usuario img{
    height: 32px;
    width: 32px;
    border-radius: 16px;
}
.seguir-sugestao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
.usuario {
    gap: 11px;
    display: flex;
}
.arroba h3{
font-size: 12px;
font-weight: 400;
line-height: 14px;
color: #8e8e8e;
margin-top: 6px;
}
.seguir-sugestao h4{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139ef2;
    display: flex;
    align-items: center;

}
.seguir-sugestao h4:hover{
    filter: brightness(130%);
    cursor: pointer;
}

.direitos-sidebar h5{
font-weight: 400;
font-size: 11px;
line-height: 13px;
color: #c7c7c7;
margin-top: 33px;
}

.direitos-sidebar p{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-top: 18px;
    color: #c7c7c7;
}


@media (max-width: 935px) {
    .topo {
        width: 100%;
        padding: 0px 10px;
    }

    .sidebar {
        display: none;
    }

    .conteudo {
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 614px) {
    .feed {
        width: 100%;
    }
    .topo-direita .sumir, input, .separador {
        display: none;
    }
    .topo-esquerda img{
        display: none;
    }
    .topo .logo-mobile {
        display: inline;
    }
}